Fluxo-NodeRed-Sprint2.json
[
    {
        "id": "24bc9fa8fe279f62",
        "type": "tab",
        "label": "Fluxo - Sprint 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ea07df14fd517bf",
        "type": "telegram bot",
        "botname": "CharmosoBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "fac8eb379b88b43c",
        "type": "telegram receiver",
        "z": "24bc9fa8fe279f62",
        "name": "",
        "bot": "3ea07df14fd517bf",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "a25e72e4628fa001"
            ],
            []
        ]
    },
    {
        "id": "484dd607a986cadc",
        "type": "telegram sender",
        "z": "24bc9fa8fe279f62",
        "name": "",
        "bot": "3ea07df14fd517bf",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "04dc0dc902837691",
        "type": "switch",
        "z": "24bc9fa8fe279f62",
        "name": "Caso seja",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "91663c563f394a24"
            ],
            [
                "ef4d79bf5822bc8e"
            ],
            [
                "4f1ece14e69ee3d2"
            ]
        ]
    },
    {
        "id": "a25e72e4628fa001",
        "type": "function",
        "z": "24bc9fa8fe279f62",
        "name": "Salva msg original",
        "func": "let session_id = flow.get('session_id');\n\nif (!session_id || msg.payload.content.toLowerCase() == \"sair\") {\n    session_id = Math.round(Math.random() * 100000);\n    flow.set('session_id', session_id);\n}\n\nmsg.params = {\n    session_id: session_id\n}\n\nflow.set(\"msgOriginal\", msg.payload);\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "04dc0dc902837691"
            ]
        ]
    },
    {
        "id": "5b46dfefe575c7a7",
        "type": "watson-assistant-v2",
        "z": "24bc9fa8fe279f62",
        "name": "Charmoso",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/80b70653-3ee9-4cf4-b9a7-009aba1a96af",
        "assistant_id": "735b989a-7bd8-4462-ab46-749993773881",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "0e2ef8b0be529487"
            ]
        ]
    },
    {
        "id": "91663c563f394a24",
        "type": "function",
        "z": "24bc9fa8fe279f62",
        "name": "Processa msg para o watson",
        "func": "msg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "5b46dfefe575c7a7"
            ]
        ]
    },
    {
        "id": "ef4d79bf5822bc8e",
        "type": "function",
        "z": "24bc9fa8fe279f62",
        "name": "Processa voz para texto",
        "func": "msg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "1f6763260c88d2e8"
            ]
        ]
    },
    {
        "id": "1f6763260c88d2e8",
        "type": "watson-speech-to-text",
        "z": "24bc9fa8fe279f62",
        "name": "Chururu",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "ANz_GxzdmdFZQrB2uQnOIcb9N6INhOxKnUXB548huXkO",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.jp-tok.speech-to-text.watson.cloud.ibm.com/instances/7356f5a6-cd49-4f66-9e57-97506af74ee0",
        "x": 820,
        "y": 240,
        "wires": [
            [
                "5b46dfefe575c7a7"
            ]
        ]
    },
    {
        "id": "0e2ef8b0be529487",
        "type": "function",
        "z": "24bc9fa8fe279f62",
        "name": "Processa msg para o telegram",
        "func": "let texto = msg.payload.output.generic[0].text;\n\nmsg.payload = flow.get(\"msgOriginal\");\nmsg.payload.type = \"message\";\nmsg.payload.content = texto;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "484dd607a986cadc"
            ]
        ]
    },
    {
        "id": "4f1ece14e69ee3d2",
        "type": "function",
        "z": "24bc9fa8fe279f62",
        "name": "Processa para o telegram",
        "func": "msg.payload.type = \"message\";\nmsg.payload.content = \"Não consigo entender esse formato.\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "484dd607a986cadc"
            ]
        ]
    }
]